<web-app>
<!--Declare protect page-->
<security-constraint>
    <web-resource-collection>
        <web-resource-name>User1 page</web-resource-name>
        <url-pattern>/html/protectedU1.html</url-pattern>
    </web-resource-collection>
    
    <auth-constraint>
        <role-name>role1</role-name>
    </auth-constraint>
</security-constraint>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>User2 page</web-resource-name>
        <url-pattern>/html/protectedU2.html</url-pattern>
    </web-resource-collection>
    
    <auth-constraint>
        <role-name>role2</role-name>
    </auth-constraint>
</security-constraint>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>both user page</web-resource-name>
        <url-pattern>/html/protectedU12.html</url-pattern>
    </web-resource-collection>
    
    <auth-constraint>
        <role-name>role1</role-name>
        <role-name>role2</role-name>
    </auth-constraint>
</security-constraint>

<!--Authendication method-->
<login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
        <form-login-page>/html/login.html</form-login-page>
        <form-error-page>/html/error_page.html</form-error-page>
    </form-login-config>
</login-config>

<!--Servlet config-->
<servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
</servlet>

<!--Servlet mapping-->
<servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/html/protectedU1.html</url-pattern>
    <url-pattern>/html/protectedU2.html</url-pattern>
    <url-pattern>/html/protectedU12.html</url-pattern>
</servlet-mapping>
</web-app>